@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

.banner {
    background: #dd9922;
    width: 450px;
    height: 200px;
    position: fixed;
    left: calc(50% - 225px);
    top: calc(40% - 100px);
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px black;
 }
.banner h2 {
    font-family: 'Big Shoulders Text', cursive;
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 3px #000;
 }
.banner .corpo {
    text-align: justify;
    font-style: italic;
    line-height: 1.5em;
 }
 
.banner .oferta {
    font-family: 'Nova Mono', monospace;
    font-size: 1.5em;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    background: red;
    color: white;
    font-weight: bold;
    position: absolute;
    right: -80px;
    bottom: -80px;
    margin:0;
    text-align: center;
    box-shadow: 3px 3px 5px #333;
 }

 .banner .icone {
     height: 100px;
     float: left;
 }

 .banner .fechar {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 50%;
    position: absolute;

    text-align: center;
    line-height: 25px;
    top: -12.5px;
    right: -12.5px;
    cursor: pointer;
 }

 #checkfechar:checked ~ .banner {
    display: none;
 }

 #checkfechar {
     visibility: hidden;
     position: absolute;
 }